<style>
body
{
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 90%;
    color: #333333;
    background-color: #eeeeee;
}
img
{
    border: solid 2px #333366; 
}
a
{
    text-decoration: none;
    color: #333333;
}
.exiflink
{
    font-size: 55%;
}
</style>
    
<title>$title: $thisdir</title>

<p>
#if $whatsnew_name
#set $dir = $breadcrumbs[0][0]
#set $name = $breadcrumbs[0][1]
<b><a href="$dir">$name</a></b> &gt;&gt; <a href="$whatsnew_url">$whatsnew_name</a>
#else
#set $first = 1
#for $dir, $name in $breadcrumbs
#if $first == 0
 &gt;&gt; 
#end if
<b><a href="$dir">$name</a></b>
#set $first = 0
#end for
#end if
</p>

<p>
#for $dir, $name, $preview, $preview_height, $preview_width in $subdirs
<nobr>
#set $remain=350-$preview_width
<table width="350" style="display: inline"><tr><td width="$preview_width">
#if $preview
<a href="$dir"><img src="$preview" border="2" align="middle" height="$preview_height" width="$preview_width"></a>
</td>
#end if
<td align="left" width="$remain">
<a href="$dir">$name</a>
</td></tr></table>
</nobr>
#end for
</p>

<div align="center">
#for $smallurl, $medurl, $bigurl, $thumburl, $exifurl, $thumb_height, $thumb_width, $caption in $imgurls:
<table style="display: inline">
<tr>
<td align="center" valign="middle" height="260" width="220">
<a href="$medurl"><img src="$thumburl" border="2" vspace="10" align="middle" height="$thumb_height" width="$thumb_width"></a><br>
<a href="$bigurl">$caption</a>
#if $show_exif == 1
<br><a class="exiflink" href="$exifurl">exif</a><br>
#end if
</td>
</tr>
</table>
#end for
</div>
