## vim:sw=4:ts=4
<style>
body
{
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 90%;
    color: #333333;
    background-color: #eeeeee;
}
a > img
{
    border: solid 2px #333366; 
}
a
{
    text-decoration: none;
    color: #333399;
}
.phototitle
{
    text-decoration: none;
    font-size: 130%;
}
.fromlink
{
    text-decoration: none;
    font-size: 75%;
    color: #333399;
}
.exiflink
{
    font-size: 55%;
}
.collapsedexif
{
    display:none;
}
.expandedexif
{
    display:inline;
}
</style>

<script type="text/Javascript"> function toggleexif(obj) {
    var the_exif = document.getElementById(obj);
    if( the_exif.className == "expandedexif" )
    {
        the_exif.className = "collapsedexif";
    }
    else
    {
        the_exif.className = "expandedexif";
    }
}
</script>

<title>$gallery_title: $photo_title</title>
#if $varExists('breadcrumbs')
<p>
#set $first = 1
#for $is_link, $dir, $name in $breadcrumbs
#if $first == 0
 &gt;&gt; 
#end if
<b><a href="$dir">$name</a></b>
#set $first = 0
#end for
</p>
#end if
<div align="center">
<a href="$full_img_url"><img src="$framed_img_url" border="2" vspace="10" align="middle"></a>
<div class="phototitle"><b>$photo_title</b></div><br>
#if $varExists('from_url')
From <a class="fromlink" href="$from_url">$from_caption</a><br>
#end if
#if $description
$description<br>
#end if
<a class="exiflink" href="javascript:toggleexif('exifblock');">+ exif</a>
<div id="exifblock" class="collapsedexif">
<p>
<table style="display: inline">
#for $key, $value in $exifdata.items()
<tr>
<td>$key</td>
<td>$value</td>
</tr>
#end for
</table>
</p>
</div>
</div>



