<style>
body
{
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 90%;
    color: #333333;
    background-color: #eeeeee;
}
img
{
    border: solid 2px #333366; 
}
a
{
    text-decoration: none;
    color: #333399;
}
.exiflink
{
    font-size: 55%;
}
</style>

<title>$gallery_title: $photo_title</title>

<div align="center">
<a href="$full_img_url"><img src="$framed_img_url" border="2" vspace="10" align="middle"></a><br>
$description
</div>
