<style>
body
{
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 90%;
    color: #333333;
    background-color: #eeeeee;
}
</style>
    
<title>EXIF data: $title</title>

<p>
<table style="display: inline">
#for $key, $value in $data.items()
<tr>
<td>$key</td>
<td>$value</td>
</tr>
#end for
</table>
</div>
