## vim:sw=4:ts=4
#set $side_by_side = 0
#if len($imgurls) and len($subdirs) > 2
#set $side_by_side = 1
#end if

#set $left_side_dominates = 0
#if $side_by_side
#if len($imgurls) < len($subdirs)
#set $left_side_dominates = 1
#end if
#end if


#if $side_by_side
#set $lhs_width=250
#else
#set $lhs_width=350
#end if

#if $left_side_dominates
#set $lhs_side_width = 550
#else
#set $lhs_side_width = $lhs_width
#end if

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/gallery.css">
<style>
.directory_section {
#if $side_by_side
    margin-top:2em;
    float:left;
    left:auto;
#if $left_side_dominates
    width:$lhs_side_width;
    padding-right:0;
    margin-right:0;
#else
    width:$lhs_width;
#end if
    height:100%;
#else

#if len($imgurls) and len($subdirs)
    padding-bottom:2em;
    border-bottom:2px solid #000;
#end if
    margin-top:2em;

#end if
    margin-right:0;
    padding-right:2em;
    margin-bottom:2em;
    line-height:300%;
}
#set leftcontent_width = $lhs_side_width + 10
.image_section {
#if $side_by_side
    height:100%;
    border-left:2px solid #000;
    padding-left:20px;
    margin-top:2em;

    margin-left:$leftcontent_width;


#else
    margin-top:3em;
#end if
    margin-bottom:0;
}

</style>

<title>$title: $thisdir</title>
</head>

<body>

#if $index_html == None
<p>
#set $first = 1
#for $is_link, $dir, $name in $breadcrumbs
#if $first == 0
 &gt;&gt; 
#end if
#if $is_link
<b><a href="$dir">$name</a></b>
#else
<b>$name</b>
#end if
#set $first = 0
#end for
</p>

#if $whatsnew_name
<a href="$whatsnew_url">$whatsnew_name</a>
#end if

#else
$index_html
#end if



<div class="directory_section">
#for $dir, $name, $preview, $width, $height in $subdirs
<table width="320" style="display: inline">
<tr>
<td width="120" height="100" align="center">
<a href="$dir"><img src="$preview" border="2" align="middle" height="$height" width="$width"></a>
</td>
<td align="left" width="200">
<a href="$dir">$name</a>
</td></tr></table>
#end for
</div>

<div class="image_section" align="center">
#for $medurl, $bigurl, $thumburl, $caption, $width, $height in $imgurls:
<table style="display: inline">
<tr>
<td align="center" valign="middle" height="260" width="250">
<a href="$medurl"><img src="$thumburl" border="2" class="thumbnail" height="$height" width="$width"></a>
<div class="caption"><a href="$bigurl">$caption</a></div>
</td>
</tr>
</table>
#end for

</div>
</body>
</html>
