## vim:sw=4:ts=4
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/gallery.css">
<title>$title</title></head>
<body>
#set lastDate = ""
#set firstTime = 1
<a href="."><b>$gallerytitle</b></a>
&gt;&gt;
<b>$title</b>

#if $nextLinkTitle
<br><br><i>(<a href="$nextLink">$nextLinkTitle)</a></i>
#end if

<br><br>
#for $entry in $updates
#if $lastDate != $entry['date']
#if not $firstTime
    </div> <!--end datebox-->
#else
#set firstTime = 0
#end if 
    <div class="datebox"><hr><h3>$entry['date']</h3>
#end if
#set lastDate = $entry['date']
<div class="datetitles">
#for $dirname, $url in $entry['dir']
<a href="$url">$dirname</a><br>
#end for
</div> <!--end datetitles-->
<div class="datecomment">
$entry['desc']
</div> <!--end datecomment-->
#else
    </div>
#end for
</body>
</html>
