## vim:sw=4:ts=4
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <title>$title</title>
    <link>http://$hostname$browse_prefix</link>
    <description>What's new on $title</description>
#set fullurl = "http://" + $hostname + $browse_prefix + "whatsnew.xml"
    <atom:link href="$fullurl" rel="self" type="application/rss+xml" />
#set counter = 0
#for $entry in $updates
#for $dirname, $url in $entry['dir']
    <item>
        <title>$dirname</title>
        <link>http://$hostname$url</link>
        <description>$entry['desc']</description>
        <pubDate>$entry['date_822']</pubDate>
#set fullurl = "http://" + $hostname + $url + "index.html#item" + str($counter)
        <guid>$fullurl</guid>
    </item>
#set counter = $counter + 1
#end for
#end for

</channel>
</rss>
